.user{
	padding-top: 100px;
}


.user__inner img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.user__inner {
	display: flex;
	align-items: center;
	padding-bottom: 50px;
}

.user__item{
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.user__title {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 20px;
}

.user-subtitle{ 
	padding-left: 20px;
	font-weight: bold;
	font-size: 15px;
}