.nav { 
	background-color: rgb(145, 145, 145);
	min-height: 100%;
}

.navList {
	list-style: none;
	text-decoration: none;
	padding-left: 20px;
}

.navLink {
	text-decoration: none;
	color: black;
	font-weight: normal;
	transition: all .3s ease;
}

.navLink:hover {
	color: rgb(175, 164, 164);

}